<section id="links">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <hr class="med">
        <h1>links</h1>
        <ul class="list-inline">

          <li>
            <a href="https://github.com/{{ site.github_username }}" class="link link-github">
              <i class="fa fa-github fa-fw fa-3x"></i>
              <div>GitHub</div>
            </a>
          </li>
          
          <li>
            <a href="/resume.pdf" class="link link-resume">
              <i class="fa fa-file-text fa-fw fa-3x"></i>
              <div>Resume</div>
            </a>
          </li>

          <li>
            <a href="mailto:{{site.email}}" class="link link-email">
              <i class="fa fa-at fa-fw fa-3x"></i>
              <div>Email</div>
            </a>
          </li>

          <li>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="link link-edin">
              <i class="fa fa-linkedin fa-fw fa-3x"></i>
              <div>LinkedIn</div>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
