<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <hr class="med">
        <h1>portfolio</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <h2>Alan's Algs</h2>
              <a href="http://www.alanberotti.site/aalgs">
                <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
              </a>
              <p>Web app which displays algorithms for the rubik's cube and allows users to save their favorites.</p>
              <p><i>Built with WampServer, PHPMailer, Bootstrap, ImageMagick, MySqli</i></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <h2>Trailbook</h2>
              <a href="https://play.google.com/store/apps/details?id=com.trailbook.app&hl=en">
                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
              </a>
              <p>Android app which analyzes and uses GPS data to draw a trail graphic.</p>
              <p><i>Built with Android Studio, Room Persistence Library and Google Maps API.</i></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <h2>Lancer App</h2>
              <a href="https://lancerapp.herokuapp.com">
                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
              </a>
              <p>Web app which allows users to send Bitcoin testnet transactions using the blockexplorer API.</p>
              <p><i>Built with MEAN stack, uses both third party and internal REST API's.</i></p>
            </div>
          </div>
        </div>
    
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
